<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <xacro:arg name="robot_type" default="m2"/>

    <xacro:include filename="$(find legged_xterra_description)/urdf/common/materials.xacro"/>
    <xacro:include filename="$(find legged_xterra_description)/urdf/common/leg.xacro"/>
    <xacro:include filename="$(find legged_xterra_description)/urdf/common/gazebo.xacro"/>
    <xacro:include filename="$(find legged_xterra_description)/urdf/common/imu.xacro"/>

    <xacro:include filename="$(find legged_xterra_description)/urdf/$(arg robot_type)/const.xacro"/>

<!--    <xacro:property name="mesh_path" value="../meshes"/>-->
    <xacro:property name="mesh_path" value="file://$(find legged_xterra_description)/meshes/$(arg robot_type)"/>

    <link name="base">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="${mesh_path}/torso.STL" scale="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="${mesh_path}/torso.STL" scale="1 1 1"/>
            </geometry>
        </collision>
        <inertial>
            <origin rpy="0 0 0" xyz="${base_com_x} ${base_com_y} ${base_com_z}"/>
            <mass value="${base_mass}"/>
            <inertia
                    ixx="${base_ixx}" ixy="${base_ixy}" ixz="${base_ixz}"
                    iyy="${base_iyy}" iyz="${base_iyz}"
                    izz="${base_izz}"/>
        </inertial>
    </link>

    <xacro:IMU connected_to="base" imu_name="base_imu" xyz="0. 0. 0." rpy="0. 0. 0."/>

    <xacro:leg name="RF" mirror="1" front_hind="1"  />
    <xacro:leg name="LF" mirror="-1"  front_hind="1"  />
    <xacro:leg name="RH" mirror="1" front_hind="-1" />
    <xacro:leg name="LH" mirror="-1"  front_hind="-1" />

</robot>